

@main("divisions"){

<header>
    <div class="events">
    <div class="header-content">
    <div class="header-content-inner">       

    <h1>DIVISIONS</h1>


        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">UFC Weight Divisions
                    <h1>Top 3 Fighters in each division</h1>
                </h1>
            </div>
        </div>
    </div>
    </div>
    </div>
</header>

        <!-- /.row -->

        <!-- Projects Row -->

     
            <h2>Flyweight</h2>
            <div class="col-md-4 portfolio-item">

                <a href="#">
          
                    <img class="img-responsive" src"@routes.Assets.versioned("/img/imgivisions/demetriousjohnson.jpg")">
                </a>
                <h3>
                    <a href="#">Demetrious johnson</a>
                </h3>
                <div class="left">
                <p><h4><bold>UFC Record<bold/> 24-2-1</h4>
<p><b>Age:</b>30</p>
<p><b>From:</b>Madisonville, KY, USA</p>
<p><b>Height:</b>5,3</p>
<p><b>Weight:</b>125lb</p>
<p><b>Facts:</b>
<ul><li>UFCs first and only flyweight titlist.</li>
<li>Has made 8 succesful title defenses.</li>
<li>On 11 fight unbeaten streak.</li></u>
</div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/benavidez.jpg")">
                </a>
                <h3>
                    <a href="#">Joseph Benavidez</a>
                </h3>
                <div class="left">
                               <p><h4><bold>UFC Record<bold/> 24-4-0</h4>
<p><b>Age:</b>32</p>
<p><b>From:</b>San Antonio, Texas, USA</p>
<p><b>Height:</b>5,4</p>
<p><b>Weight:</b>125lb</p>
<p><b>Facts:</b>
<ul><li>Has won 12 of the last 14 fights.</li>
<li>9 wins by submission.</li></ul>

            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/cejudo.jpg")">
                </a>
                <h3>
                    <a href="#">Henry Cejudo</a>
                </h3>
                <div class="left">
                <p><h4><bold>UFC Record<bold/> 10-1-0</h4>
<p><b>Age:</b>29</p>
<p><b>From:</b>Phoenix, Arizona, USA</p>
<p><b>Height:</b>5,4</p>
<p><b>Weight:</b>125lb</p>
<p><b>Facts:</b>
<ul><li>Pro since 2013.</li>
<li>Four first round finishes</li></u>

            </div>
            </div>

        <hr>
        <!-- /.row -->
            <h2>Bantamweight</h2>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/dominic-cruz.jpg")">
                </a>
                <h3>
                    <a href="#">Dominic Cruz</a>
                </h3>
                <div class="left">
                <h4><bold>UFC Record<bold/> 22-1-0</h4>
<p><b>Age:</b>31</p>
<p><b>From:</b>San Diego, California, USA</p>
<p><b>Height:</b>5,8</p>
<p><b>Weight:</b>135lb</p>
<p><b>Facts:</b>
<ul><li>First ever UFC Bantamweight champ.</li>
<li>Stripped of a title in 2014 due to injury</li>
<li>Unbeaten at 135lb (12-0)</li></u>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/dillashaw.jpg")">
                </a>
                <h3>
                    <a href="#">TJ Dillashaw</a>
                </h3>
                <div class="left">
                               <p><h4><bold>UFC Record<bold/> 14-3-0</h4>
<p><b>Age:</b>30</p>
<p><b>From:</b>Angels Camp, California, USA</p>
<p><b>Height:</b>5,6</p>
<p><b>Weight:</b>135lb</p>
<p><b>Facts:</b>
<ul><li>Won 9 out of 11 fights.</li>
<li>Pro since 2011</li></ul>

            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/john-lineker.jpg")">
                </a>
                <h3>
                    <a href="#">john Lineker</a>
                </h3>
                <div class="left">

                <p><h4><bold>UFC Record<bold/> 29-7-0</h4>
<p><b>Age:</b>26</p>
<p><b>From:</b>Paranagua, Parana, USA</p>
<p><b>Height:</b>5,3</p>
<p><b>Weight:</b>135lb</p>
<p><b>Facts:</b>
<ul><li>Won 10 of last 11.</li>
<li>Three UFC bouts at bantamweight (3-0)</li></u>
</div>
            </div>
        
        <hr>
        <!-- Projects Row -->

            <h2>Featherweight</h2>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/mcgregor2.jpg")">
                </a>
                <h3>
                    <a href="#">Conor McGregor</a>
                </h3>
                <div class="left">
                <p>                <p><h4><bold>UFC Record<bold/> 12-3-0</h4>
<p><b>Age:</b>30</p>
<p><b>From:</b>Dublin, Ireland</p>
<p><b>Height:</b>5,9</p>
<p><b>Weight:</b>145lb</p>
<p><b>Facts:</b>
<ul><li>On 11 fight win streak.</li>
<li>First to hold 2 belts in different divisions.</li>
<li>11 first round finishes.</li></u></p>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/aldo.jpg")">
                </a>
                <h3>
                    <a href="#">Jose Aldo</a>
                </h3>
                <div class="left">
                <p>                <p><h4><bold>UFC Record<bold/> 26-2-0</h4>
<p><b>Age:</b>30</p>
<p><b>From:</b>Manaus, Brazil</p>
<p><b>Height:</b>5,7</p>
<p><b>Weight:</b>145lb</p>
<p><b>Facts:</b>
<ul><li>Won first Featherweight title.</li>
<li>Made 7 succesful title defenses.</li>
<li>Hasn't lost since 2005 before losing to Mcgregor.</li></u></p>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/edgar.jpg")">
                </a>
                <h3>
                    <a href="#">Frankie Edgar</a>
                </h3>
                <div class="left">
                <p>                <p><h4><bold>UFC Record<bold/> 20-5-1</h4>
<p><b>Age:</b>35</p>
<p><b>From:</b>Summit, New Jersey, USA</p>
<p><b>Height:</b>5,3</p>
<p><b>Weight:</b>145lb</p>
<p><b>Facts:</b>
<ul><li>6 First round wins.</li>
<li>Won 6 of last 7.</li></u></p>
            </div>
            </div>
        

        <!-- Projects Row -->
        <hr>

            <h2>Lightweight</h2>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/mcgregor.jpg")">
                </a>
                <h3>
                    <a href="#">Conor Mcgregor</a>
                </h3>
                <div class="left">
                <p>                <p><h4><bold>UFC Record<bold/> 12-3-0</h4>
<p><b>Age:</b>28</p>
<p><b>From:</b>Dublin, Ireland</p>
<p><b>Height:</b>5,9</p>
<p><b>Weight:</b>145lb</p>
<p><b>Facts:</b>
<ul><li>On 11 fight win streak.</li>
<li>First to hold 2 titles in different divisions.</li>
<li>11 first round finishes.</li></u></p>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/khabib.jpg")">
                </a>
                <h3>
                    <a href="#">Khabib Nurmagomedov</a>
                </h3>
                <div class="left">
                <p>                <p><h4><bold>UFC Record<bold/> 24-0-0</h4>
<p><b>Age:</b>28</p>
<p><b>From:</b>Dagestan, Russia</p>
<p><b>Height:</b>5,10/p>
<p><b>Weight:</b>155lb</p>
<p><b>Facts:</b>
<ul><li>Undefeated since 2008.</li>
<li>8 wins by submission.</li>
</u></p>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/tony-ferguson.jpg")">
                </a>
                <h3>
                    <a href="#">Tony Ferguson</a>
                </h3>
                <div class="left">
                <p>                <p><h4><bold>UFC Record<bold/> 23-3-0</h4>
<p><b>Age:</b>32</p>
<p><b>From:</b>Oxnard, California, USA</p>
<p><b>Height:</b>5,11</p>
<p><b>Weight:</b>155lb</p>
<p><b>Facts:</b>
<ul><li>On 9 fight win streak.</li>
<li>Pro since 2008.</li>
</u></p>
            </div>
            </div>
        
        <!-- /.row -->

            <h2>Welterweight</h2>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/woodley.jpg")">
                </a>
                <h3>
                    <a href="#">Tyron Woodley</a>
                </h3>
                <div class="left">
                <p><h4><bold>UFC Record<bold/> 16-3-1</h4>
<p><b>Age:</b>34</p>
<p><b>From:</b>St Louis, Missouri, USA</p>
<p><b>Height:</b>5,9</p>
<p><b>Weight:</b>170lb</p>
<p><b>Facts:</b>
<ul><li>9 first round wins.</li>
<li>Pro since 2009</li>
</u>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/lawler.jpg")">
                </a>
                <h3>
                    <a href="#">Robbie Lawler</a>
                </h3>
                <div class="left">
                               <p><h4><bold>UFC Record<bold/> 27-11-0</h4>
<p><b>Age:</b>34</p>
<p><b>From:</b>San Diego, California, USA</p>
<p><b>Height:</b>5,11</p>
<p><b>Weight:</b>170lb</p>
<p><b>Facts:</b>
<ul><li>Won 8 of last 10</li>
<li>Lost title to Woodley at UFC 201</li></ul>
</div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/thompson.jpg")">
                </a>
                <h3>
                    <a href="#">Stephen Thompson</a>
                </h3>
                <div class="left">
                <p><h4><bold>UFC Record<bold/> 13-1-1</h4>
<p><b>Age:</b>33</p>
<p><b>From:</b>Simpsonville, South Carolina, USA</p>
<p><b>Height:</b>6,0</p>
<p><b>Weight:</b>170lb</p>
<p><b>Facts:</b>
<ul><li>Combined kickboxing record of 57-0</li>
<li>7 wins by KO</li></u>
</div>
            </div>
        
        <hr>
<div class="row">
            <h2>Middleweight</h2>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/bisping.jpg")">
                </a>
                <h3>
                    <a href="#">Michael Bisping</a>
                </h3>
                <div class="left">
                <p> <p>                <p><h4><bold>UFC Record<bold/> 31-7-0</h4>
<p><b>Age:</b>37</p>
<p><b>From:</b>The Count, Manchester, England</p>
<p><b>Height:</b>6,1</p>
<p><b>Weight:</b>185lb</p>
<p><b>Facts:</b>
<ul><li>18 wins by KO.</li>
<li>16-6 as a Middleweight.</li>
</u></p></p>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/rockhold.jpg")">
                </a>
                <h3>
                    <a href="#">Luke Rockhold</a>
                </h3>
                <div class="left">
                <p> <p>                <p><h4><bold>UFC Record<bold/> 15-3-0</h4>
<p><b>Age:</b>32</p>
<p><b>From:</b>Santa Cruz, california, USA</p>
<p><b>Height:</b>6,3</p>
<p><b>Weight:</b>185lb</p>
<p><b>Facts:</b>
<ul><li>Won 14 of last 16 fights.</li>
<li>10 first round wins.</li>
</u></p></p>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/weidman.jpg")">
                </a>
                <h3>
                    <a href="#">Chris Weidman</a>
                </h3>
                <div class="left">
                <p> <p>                <p><h4><bold>UFC Record<bold/> 13-2-0</h4>
<p><b>Age:</b>32</p>
<p><b>From:</b>Balwin, New York, USA</p>
<p><b>Height:</b>6,2</p>
<p><b>Weight:</b>185lb</p>
<p><b>Facts:</b>
<ul><li>6 wins by KO.</li>
<li>Pro since 2009.</li>
</u></p></p>
            </div>
            </div>
        </div>
        <hr>

            <h2>Light Heavyweightt</h2>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/cormier.jpg")">
                </a>
                <h3>
                    <a href="#">Daniel Cormier</a>
                </h3>
                <div class="left">
                <p> <p>                <p><h4><bold>UFC Record<bold/> 18-1-0</h4>
<p><b>Age:</b>28</p>
<p><b>From:</b>Lafayette, Lousiana, USA</p>
<p><b>Height:</b>5,11</p>
<p><b>Weight:</b>205lb</p>
<p><b>Facts:</b>
<ul><li>Record of 5-1 at light heavyweight.</li>
<li>8 wins by KO.</li>
</u></p></p>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/anthony-johnson.jpg")">
                </a>
                <h3>
                    <a href="#">Anthony Johnson</a>
                </h3>
                <div class="left">
                <p> <p>                <p><h4><bold>UFC Record<bold/> 22-5-0</h4>
<p><b>Age:</b>32</p>
<p><b>From:</b>Dublin, Georgia, USA</p>
<p><b>Height:</b>6,2</p>
<p><b>Weight:</b>205lb</p>
<p><b>Facts:</b>
<ul><li>16 wins by KO.</li>
<li>Loss to Cormier snapped 9 win streak</li>
<li>Competed at Welterweight,Middleweight and Heayweight.</li>
</u></p></p>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/gustafsson.jpg")">
                </a>
                <h3>
                    <a href="#">Alexander Gustafsson</a>
                </h3>
                <div class="left">
                <p> <p>                <p><h4><bold>UFC Record<bold/> 17-4-0</h4>
<p><b>Age:</b>29</p>
<p><b>From:</b>Stockholm, Sweden</p>
<p><b>Height:</b>6,5</p>
<p><b>Weight:</b>205lb</p>
<p><b>Facts:</b>
<ul><li>8 first round wins.</li>
<li>10 wins by KO.</li>
</u></p></p>
            </div>
            </div>
        
        <hr>

            <h2>Heavyweight</h2>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/miocic.jpg")">
                </a>
                <h3>
                    <a href="#">Stipe Miocic</a>
                </h3>
                <div class="left">
                <p> <p>                <p><h4><bold>UFC Record<bold/> 16-2-0</h4>
<p><b>Age:</b>34</p>
<p><b>From:</b>Euclid, Ohio, USA</p>
<p><b>Height:</b>6,4</p>
<p><b>Weight:</b>240lb</p>
<p><b>Facts:</b>
<ul><li>Finished 13 of 16 wins by KO.</li>
<li>Won 7 of last 8.</li>
</u></p></p>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/werdum.jpg")">
                </a>
                <h3>
                    <a href="#">Fabricio Werdum</a>
                </h3>
                <div class="left">
                <p> <p>                <p><h4><bold>UFC Record<bold/> 26-6-1</h4>
<p><b>Age:</b>39</p>
<p><b>From:</b>Porto Alegre, Brazil</p>
<p><b>Height:</b>6,4</p>
<p><b>Weight:</b>231lb</p>
<p><b>Facts:</b>
<ul><li>Won 7 of last 9.</li>
</u></p></p>
            </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgdivisions/velasquez.jpg")">
                </a>
                <h3>
                    <a href="#">Cain Velasquez</a>
                </h3>
                <div class="left">
                <p> <p>                <p><h4><bold>UFC Record<bold/> 14-2-0</h4>
<p><b>Age:</b>34</p>
<p><b>From:</b>Yuma, Arizona, USA</p>
<p><b>Height:</b>6,1</p>
<p><b>Weight:</b>240lb</p>
<p><b>Facts:</b>
<ul><li>12 of 14 wins by KO.</li>
<li>First Mexican/American to win major heavyweight title in mma history.</li>
</u></p></p>
    </div>
            </div>
            

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>UFC 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>


}