

@main("index"){
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Information</h2>
                    <hr class="light">
                    <p class="text-faded">The Ultimate Fighting Championship (UFC) is an American mixed martial arts promotion company. It is the largest MMA promoter in the world and features most of the top-ranked fighters in the sport. The first Ultimate Fighting Championship event was held on November 12, 1993 at the McNichols Sports Arena in Denver, Colorado. The purpose of the early Ultimate Fighting Championship competitions was to identify the most effective martial art in a fight, with minimal rules, between competitors of different fighting disciplines, including boxing, Brazilian jiu-jitsu, Sambo, wrestling, Muay Thai, karate, judo, and other styles. Fighters began adopting effective techniques from more than one discipline, which indirectly helped create an entirely separate style of fighting known as present-day mixed martial arts. In 2016, it was sold to WME-IMG for $4 billion.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Learn more!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">MMA Fighting Styles</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-star text-primary sr-icons"></i>
                        <h3>Boxing</h3>
                        <p class="text-muted">Boxing is a combat sport in which two people wearing gloves throw punches at each other for a predetermined set of time in a boxing ring. The ancient Greeks believed fist fighting was one of the games played by the gods on Olympus.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-star text-primary sr-icons"></i>
                        <h3>Jiu Jitsu</h3>
                        <p class="text-muted">Derived sport forms include the Olympic sport and martial art of judo, which was developed by Kano Jigoro in the late 19th century from several traditional styles of jujutsu, and Brazilian jiu-jitsu</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-star text-primary sr-icons"></i>
                        <h3>Wrestling</h3>
                        <p class="text-muted">Wrestling is a combat sport involving grappling type techniques such as clinch fighting, throws and takedowns, joint locks, pins and other grappling holds. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-star text-primary sr-icons"></i>
                        <h3>Muay Thai</h3>
                        <p class="text-muted">Muay Thai originated in Thailand and is called the “Art of Eight Limbs” because combatants always have eight different methods of striking available to them, including punches, elbows, kicks, and knees.</p>
                    </div>
                </div>
                    <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-star text-primary sr-icons"></i>
                        <h3>Judo</h3>
                        <p class="text-muted">Judo is a martial art that was born in Japan, and it is now known around the world as an Olympic sport. Judo was established in 1882 by combining jujitsu, a form of wrestling, with mental discipline.</p>
                    </div>
                </div>
                                          <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-star text-primary sr-icons"></i>
                        <h3>Karate</h3>
                        <p class="text-muted">In its current form, karate is less than 200 years old however it has roots that date back thousands of years. Karate is now predominantly a striking art using punching, kicking, knee strikes, elbow strikes and open-hand techniques such as knife-hands, spear-hands, and palm-heel strikes.</p>
                    </div>
                </div>  
                                    <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-star text-primary sr-icons"></i>
                        <h3>Tae Kwon Do</h3>
                        <p class="text-muted">The literal translation of taekwondo is 'way of the hand and foot'. South Korea uses taekwondo as part of their military training program. Taekwondo is a martial art made up of kicks, punches, blocks and open-handed strikes.</p>
                    </div>
                </div>  
                                    <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-star text-primary sr-icons"></i>
                        <h3>Kickboxing</h3>
                        <p class="text-muted">Kickboxing is a group of stand-up combat sports based on kicking and punching, historically developed from Karate, Muay Thai, Khmer Boxing, and Western boxing. </p>
                    </div>
                </div>  
            </div>
        </div>
    </section>







    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Visit The Official UFC Website Here!</h2>
                <a href="http://uk.ufc.com/" class="btn btn-default btn-xl sr-button">UFC Official Page</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact us</h2>
                    <hr class="primary">
                    <p style="color:white">If you have any questions, please contact us using the information given below!</p>
                </div>
                <div style="color:white" class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p style="color:white" >085 1252 692</p>
                    <p style="color:white">085 7245 022</p>
                    <p style="color:white">085 8473 803</p>
                </div>
                <div style="color:white" class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p>bobob1337@@gmail.com</p>
                    <p>darrenskerrett96@@gmail.com</p>
                    <p>kwonw1998@@gmail.com</p>
                </div>
            </div>
        </div>
    </section>


}

