

@main("membership"){


    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="container">
  <div class="row">
  	<div class="col-md-6">
    
          <form class="form-horizontal" action="" method="POST">
          <fieldset>
            <div id="legend">
              <legend>Register</legend>
            </div>
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input name="username" class="form-control input-lg" id="username" type="text" placeholder="">
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="email">E-mail</label>
              <div class="controls">
                <input name="email" class="form-control input-lg" id="email" type="email" placeholder="">
                <p class="help-block">Please provide your E-mail</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input name="password" class="form-control input-lg" id="password" type="password" placeholder="">
                <p class="help-block">Password should be at least 6 characters</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password_confirm">Password (Confirm)</label>
              <div class="controls">
                <input name="password_confirm" class="form-control input-lg" id="password_confirm" type="password" placeholder="">
                <p class="help-block">Please confirm password</p>
              </div>
            </div>
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-success">Register</button>
              </div>
            </div>
          </fieldset>
        </form>
    
    </div> 
  </div>
</div>
            </div>
        </div>
                <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>UFC 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </header>


}