

@main("news"){


<br>
    <header>
<div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">News
                    
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class ="img-responsive" src="@routes.Assets.versioned("img/imgnews/conor.jpg")">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Double champ</h3>
                <p>UFC 205 was a hostorical event and will go down as one of the biggest events of all time. Conor Mcgregor became the first person in the UFC to become the champion of two weight divisions simultaniously.</p>
                <a class="btn btn-primary" href="#">View Story <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgnews/khabib.png")">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Khabib tells Johnson to give up</h3>
                <p>The fight between Khabib Nurmagomedov and Michael Johnson took place at UFC 205. Khabib said to the press that he told Johnson to give up as he was destined to have a title shot.</p>
                <a class="btn btn-primary" href="#">View Story <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgnews/miesha.jpg")">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Retired early</h3>
                <p>After her loss to her former student, Miesha Tate shockingly decided she is going to retire from the sport of MMA. Fans saw this as a surprise as only a couple of months ago, she won the title and lost it shortly after.</p>
                <a class="btn btn-primary" href="#">View Story <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgnews/nelson.png")">
                </a>
            </div>
            <div class="col-md-5">
                <h3>9 Month Ban</h3>
                <p>Roy Nelson has faced a nine month ban after he kicked the referee of his recent fight, John McCarthy. Roy says that the fact that his opponent is his friend had a lot to do with what happened that night.</p>
                <a class="btn btn-primary" href="#">View Story <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="@routes.Assets.versioned("/img/imgnews/lyoto.jpg")">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Doping scandal</h3>
                <p>Lyoto Machida of Salvador, Brazil has accepted his 18 month sanction 
for doping after declaring the use of a prohibited substance and testing positive for the use of the substance.</p>
                <a class="btn btn-primary" href="#">View Story <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>UFC 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->


}