

@main("ranking"){

    <header>
        <br>
        <hr>
        <h1 style="text-font:Impact">Pound For Pound UFC Ranking</h1>
        <hr>
<table class="table table-hover"> <!-- class table hover-->
        <thead><!-- table head-->
            <tr>
               <th>Rank</th>
                <th>Name</th>
              <th>Country</th>  
              <th>Division/s</th>           
                <th>Record</th>
            </tr>
        </thead>
		
        <tbody>
            <tr><!-- Row 1 -->
                <td>1</td>
                <td>Demetrious Johnson</td>
                <td>USA</td>
                <td>Flyweight</td>
                <td>24-2-1</td>
            </tr>
            <tr><!-- Row 2 -->
                <td>2</td>
                <td>Conor McGregor</td>
                <td>Ireland</td>
                <td>Featherweight/Lightweight</td>
                <td>21-3-0</td>
            </tr>
            <tr><!-- Row 3 -->
                <td>3</td>
                <td>Dominick Cruz</td>
                <td>USA</td>
                <td>Bantamweight</td>
                <td>22-1-0</td>
            </tr>
            <tr><!-- Row 4 -->
                <td>4</td>
                <td>Daniel Cormier</td>
                <td>USA</td>
                <td>Light Heavyweight</td>
                <td>18-1-0</td>
            </tr>
            <tr><!-- Row 5 -->
                <td>5</td>
                <td>Jose Aldo</td>
                <td>Brazil</td>
                <td>Featherweight</td>
                <td>26-2-0</td>
            </tr>
                <tr><!-- Row 6 -->
                <td>6</td>
                <td>Stipe Miocic</td>
                <td>USA</td>
                <td>Heavyweight</td>
                <td>16-2-0</td>
            </tr>
            <tr><!-- Row 7 -->
                <td>7</td>
                <td>Joanna</td>
                <td>Poland</td>
                <td>Strawweight</td>
                <td>13-0-0</td>
            </tr>
            <tr><!-- Row 8 -->
                <td>8</td>
                <td>Tyron Woodley</td>
                <td>USA</td>
                <td>Welterweight</td>
                <td>16-3-1</td>
            </tr>
            <tr><!-- Row 9 -->
                <td>9</td>
                <td>Michael Bisping</td>
                <td>England</td>
                <td>Middleweight</td>
                <td>31-7-0</td>
            </tr>
            <tr><!-- Row 10 -->
                <td>10</td>
                <td>Cris Cyborg</td>
                <td>Brazil</td>
                <td>Featherweight/Catchweight</td>
                <td>16-1-0</td>
            </tr>


                        <tr><!-- Row 11 -->
                <td>11</td>
                <td>Robbie Lawler</td>
                <td>USA</td>
                <td>Welterweight</td>
                <td>27-11-0</td>
            </tr>
                <tr><!-- Row 12 -->
                <td>12</td>
                <td>Luke Rockhold</td>
                <td>USA</td>
                <td>Middleweight</td>
                <td>15-3-0</td>
            </tr>
            <tr><!-- Row 13 -->
                <td>13</td>
                <td>Amanda Nunes</td>
                <td>Brazil</td>
                <td>Bantamweight</td>
                <td>13-4-0</td>
            </tr>
            <tr><!-- Row 14 -->
                <td>14</td>
                <td>TJ Dillashaw</td>
                <td>USA</td>
                <td>Bantamweight</td>
                <td>14-3-0</td>
            </tr>
            <tr><!-- Row 15 -->
                <td>15</td>
                <td>Khabib Nurmagomedov</td>
                <td>Russia</td>
                <td>Lightweight</td>
                <td>24-0-0</td>
            </tr>
        </tbody>
</table>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>UFC 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </header>


}